
/* .userTab-container{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.userTab_container-div{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.userTab--option_section{

}
.mapFloor-container{

}