.officeBox {
  padding: 5px;
  width: 200px;
  height: 200px;
  border: 2px solid #43a047;
  border-radius: 10px;
  color: #43a047;
  font-size: 900;
  /* background: #43a047; */
  margin: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.occupied {
  border: 2px solid #f2b93d;
  color: #f2b93d;
}
/* .officeBox .partial{
    background: yellow
} */
/* .officeBox .available {
  color: #7fdb90;
} */
