.officeMapping-container {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border: #ccc;
  box-shadow: #ccc;
  border-radius: 15px;
  margin: 20px;
  width: 80%;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 10px;
  margin: 10px;
}
h2 {
  margin-bottom: 0px;
}
.focus {
  border: 2px solid #88dafc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}
.officeLink {
  text-decoration: none;
}
